footer {
  background-color: rgba($color: $primary, $alpha: 0.5);
  padding: 60px 10px 35px 10px;
  .social {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 15px;
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .terms {
    text-align: center;
    width: 100%;
    a, span {
      color: $gray;
      font-size: 12px;
      margin: 0 15px;
      text-decoration: none;
    }
  }
  @media (max-width: 550px) {
    padding: 40px 10px;
    .d-flex {
      flex-wrap: wrap;
      justify-content: center !important;
      .social {
        margin: 60px 0;
        text-align: center;
        width: 100%;
      }
    }
    .terms {
      display: flex;
      flex-direction: column;
      span, a {
        display: block;
        padding: 10px 0;
        width: 100%;
      }
    }
  }
}
