


section {
  height: 100%;
}

/* .back {
  background: url(../assets/img/clean-back.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 30%;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.wrapper > img {
  border-radius: 75px;
}


.newTitle {
  vertical-align: middle;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 70px;
  text-shadow: 3px 3px 3px rgb(143, 143, 143);
}

