

section {
  height: 100%;
}

.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newTitle {
  vertical-align: middle;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 70px;
  text-shadow: 5.2px 5.2px 5.2px rgb(0, 0, 0);
}

.back {
  margin-top: 10%;
}

span {
  color: white;
  font-weight: bold;
}

/* .percent {
  margin-top: 10%;
} */

.follow1 {
  margin-top: 7%;
}

/* .paragraph {
  display: flex;
} */



